<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Qp Messenger.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>buildNumber</key>
			<string>3</string>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>86F0BE6E55C5CA165F4E188F895F363DE49277C3</string>
				<key>dateExpires</key>
				<string>9/28/26</string>
				<key>type</key>
				<string>Cloud Managed Apple Distribution</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1.0</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>86F0BE6E55C5CA165F4E188F895F363DE49277C3</string>
						<key>dateExpires</key>
						<string>9/28/26</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>App.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>358CY2C2LK</string>
						<key>name</key>
						<string>Quantum Possibilities SRL</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>86F0BE6E55C5CA165F4E188F895F363DE49277C3</string>
						<key>dateExpires</key>
						<string>9/28/26</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>DKImagePickerController.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>358CY2C2LK</string>
						<key>name</key>
						<string>Quantum Possibilities SRL</string>
					</dict>
					<key>versionNumber</key>
					<string>4.3.9</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>86F0BE6E55C5CA165F4E188F895F363DE49277C3</string>
						<key>dateExpires</key>
						<string>9/28/26</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>DKPhotoGallery.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>358CY2C2LK</string>
						<key>name</key>
						<string>Quantum Possibilities SRL</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.19</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>86F0BE6E55C5CA165F4E188F895F363DE49277C3</string>
						<key>dateExpires</key>
						<string>9/28/26</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>FBLPromises.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>358CY2C2LK</string>
						<key>name</key>
						<string>Quantum Possibilities SRL</string>
					</dict>
					<key>versionNumber</key>
					<string>2.4.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>86F0BE6E55C5CA165F4E188F895F363DE49277C3</string>
						<key>dateExpires</key>
						<string>9/28/26</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>FirebaseCore.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>358CY2C2LK</string>
						<key>name</key>
						<string>Quantum Possibilities SRL</string>
					</dict>
					<key>versionNumber</key>
					<string>12.2.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>86F0BE6E55C5CA165F4E188F895F363DE49277C3</string>
						<key>dateExpires</key>
						<string>9/28/26</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>FirebaseCoreInternal.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>358CY2C2LK</string>
						<key>name</key>
						<string>Quantum Possibilities SRL</string>
					</dict>
					<key>versionNumber</key>
					<string>12.2.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>86F0BE6E55C5CA165F4E188F895F363DE49277C3</string>
						<key>dateExpires</key>
						<string>9/28/26</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>FirebaseInstallations.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>358CY2C2LK</string>
						<key>name</key>
						<string>Quantum Possibilities SRL</string>
					</dict>
					<key>versionNumber</key>
					<string>12.2.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>86F0BE6E55C5CA165F4E188F895F363DE49277C3</string>
						<key>dateExpires</key>
						<string>9/28/26</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>FirebaseMessaging.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>358CY2C2LK</string>
						<key>name</key>
						<string>Quantum Possibilities SRL</string>
					</dict>
					<key>versionNumber</key>
					<string>12.2.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1.0</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>86F0BE6E55C5CA165F4E188F895F363DE49277C3</string>
						<key>dateExpires</key>
						<string>9/28/26</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>Flutter.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>358CY2C2LK</string>
						<key>name</key>
						<string>Quantum Possibilities SRL</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>86F0BE6E55C5CA165F4E188F895F363DE49277C3</string>
						<key>dateExpires</key>
						<string>9/28/26</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>GoogleDataTransport.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>358CY2C2LK</string>
						<key>name</key>
						<string>Quantum Possibilities SRL</string>
					</dict>
					<key>versionNumber</key>
					<string>10.1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>86F0BE6E55C5CA165F4E188F895F363DE49277C3</string>
						<key>dateExpires</key>
						<string>9/28/26</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>GoogleUtilities.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>358CY2C2LK</string>
						<key>name</key>
						<string>Quantum Possibilities SRL</string>
					</dict>
					<key>versionNumber</key>
					<string>8.1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>86F0BE6E55C5CA165F4E188F895F363DE49277C3</string>
						<key>dateExpires</key>
						<string>9/28/26</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>SDWebImage.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>358CY2C2LK</string>
						<key>name</key>
						<string>Quantum Possibilities SRL</string>
					</dict>
					<key>versionNumber</key>
					<string>5.21.2</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>86F0BE6E55C5CA165F4E188F895F363DE49277C3</string>
						<key>dateExpires</key>
						<string>9/28/26</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>SwiftyGif.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>358CY2C2LK</string>
						<key>name</key>
						<string>Quantum Possibilities SRL</string>
					</dict>
					<key>versionNumber</key>
					<string>5.4.5</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1.0</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>86F0BE6E55C5CA165F4E188F895F363DE49277C3</string>
						<key>dateExpires</key>
						<string>9/28/26</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>WebRTC.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>358CY2C2LK</string>
						<key>name</key>
						<string>Quantum Possibilities SRL</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>86F0BE6E55C5CA165F4E188F895F363DE49277C3</string>
						<key>dateExpires</key>
						<string>9/28/26</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>app_settings.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>358CY2C2LK</string>
						<key>name</key>
						<string>Quantum Possibilities SRL</string>
					</dict>
					<key>versionNumber</key>
					<string>5.1.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>86F0BE6E55C5CA165F4E188F895F363DE49277C3</string>
						<key>dateExpires</key>
						<string>9/28/26</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>audioplayers_darwin.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>358CY2C2LK</string>
						<key>name</key>
						<string>Quantum Possibilities SRL</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>86F0BE6E55C5CA165F4E188F895F363DE49277C3</string>
						<key>dateExpires</key>
						<string>9/28/26</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>connectivity_plus.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>358CY2C2LK</string>
						<key>name</key>
						<string>Quantum Possibilities SRL</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>86F0BE6E55C5CA165F4E188F895F363DE49277C3</string>
						<key>dateExpires</key>
						<string>9/28/26</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>device_info_plus.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>358CY2C2LK</string>
						<key>name</key>
						<string>Quantum Possibilities SRL</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>86F0BE6E55C5CA165F4E188F895F363DE49277C3</string>
						<key>dateExpires</key>
						<string>9/28/26</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>emoji_picker_flutter.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>358CY2C2LK</string>
						<key>name</key>
						<string>Quantum Possibilities SRL</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>86F0BE6E55C5CA165F4E188F895F363DE49277C3</string>
						<key>dateExpires</key>
						<string>9/28/26</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>file_picker.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>358CY2C2LK</string>
						<key>name</key>
						<string>Quantum Possibilities SRL</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>86F0BE6E55C5CA165F4E188F895F363DE49277C3</string>
						<key>dateExpires</key>
						<string>9/28/26</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>flutter_local_notifications.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>358CY2C2LK</string>
						<key>name</key>
						<string>Quantum Possibilities SRL</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>86F0BE6E55C5CA165F4E188F895F363DE49277C3</string>
						<key>dateExpires</key>
						<string>9/28/26</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>flutter_sound_core.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>358CY2C2LK</string>
						<key>name</key>
						<string>Quantum Possibilities SRL</string>
					</dict>
					<key>versionNumber</key>
					<string>9.28.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>86F0BE6E55C5CA165F4E188F895F363DE49277C3</string>
						<key>dateExpires</key>
						<string>9/28/26</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>image_picker_ios.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>358CY2C2LK</string>
						<key>name</key>
						<string>Quantum Possibilities SRL</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>86F0BE6E55C5CA165F4E188F895F363DE49277C3</string>
						<key>dateExpires</key>
						<string>9/28/26</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>nanopb.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>358CY2C2LK</string>
						<key>name</key>
						<string>Quantum Possibilities SRL</string>
					</dict>
					<key>versionNumber</key>
					<string>3.30910.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>86F0BE6E55C5CA165F4E188F895F363DE49277C3</string>
						<key>dateExpires</key>
						<string>9/28/26</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>package_info_plus.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>358CY2C2LK</string>
						<key>name</key>
						<string>Quantum Possibilities SRL</string>
					</dict>
					<key>versionNumber</key>
					<string>0.4.5</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>86F0BE6E55C5CA165F4E188F895F363DE49277C3</string>
						<key>dateExpires</key>
						<string>9/28/26</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>path_provider_foundation.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>358CY2C2LK</string>
						<key>name</key>
						<string>Quantum Possibilities SRL</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>86F0BE6E55C5CA165F4E188F895F363DE49277C3</string>
						<key>dateExpires</key>
						<string>9/28/26</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>shared_preferences_foundation.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>358CY2C2LK</string>
						<key>name</key>
						<string>Quantum Possibilities SRL</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>86F0BE6E55C5CA165F4E188F895F363DE49277C3</string>
						<key>dateExpires</key>
						<string>9/28/26</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>sqflite_darwin.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>358CY2C2LK</string>
						<key>name</key>
						<string>Quantum Possibilities SRL</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.4</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>86F0BE6E55C5CA165F4E188F895F363DE49277C3</string>
						<key>dateExpires</key>
						<string>9/28/26</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>url_launcher_ios.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>358CY2C2LK</string>
						<key>name</key>
						<string>Quantum Possibilities SRL</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>86F0BE6E55C5CA165F4E188F895F363DE49277C3</string>
						<key>dateExpires</key>
						<string>9/28/26</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>video_player_avfoundation.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>358CY2C2LK</string>
						<key>name</key>
						<string>Quantum Possibilities SRL</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>86F0BE6E55C5CA165F4E188F895F363DE49277C3</string>
						<key>dateExpires</key>
						<string>9/28/26</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>wakelock_plus.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>358CY2C2LK</string>
						<key>name</key>
						<string>Quantum Possibilities SRL</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.1</string>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>358CY2C2LK.com.qp.messenger</string>
				<key>aps-environment</key>
				<string>production</string>
				<key>beta-reports-active</key>
				<true/>
				<key>com.apple.developer.team-identifier</key>
				<string>358CY2C2LK</string>
				<key>get-task-allow</key>
				<false/>
			</dict>
			<key>name</key>
			<string>Runner.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>5817e983-a71a-4f9c-a32a-1839ad8c23bd</string>
				<key>dateExpires</key>
				<string>9/28/26</string>
				<key>name</key>
				<string>iOS Team Store Provisioning Profile: com.qp.messenger</string>
			</dict>
			<key>symbols</key>
			<true/>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>358CY2C2LK</string>
				<key>name</key>
				<string>Quantum Possibilities SRL</string>
			</dict>
			<key>versionNumber</key>
			<string>1.0.0</string>
		</dict>
	</array>
</dict>
</plist>
